<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Danh thể loại</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script type="text/javascript" th:src="@{/js/admin/auth.js}"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" th:href="@{/lib/bootstrap/bootstrap.min.css}">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/admin-style.css}">
<link rel="stylesheet" th:href="@{/lib/toastr/toastr.min.css}">
</head>

<body>

	<div class="d-flex justify-content-between">
		<!-- SIDE BAR -->
		<div id="side-bar" class="bg-dark">
			<div class="logo">ADMIN PAGE</div>
			<ul class="list-group rounded-0">
				<li class="dashboard">DASHBOARD</li>
				<li>
					<a th:href="@{/admin/page/user}">
						<i class="fa fa-user mr-2"></i>
						Quản lý thành viên
					</a>
				</li>
				<li>
					<a th:href="@{/admin/page/role}">
						<i class="fa fa-book mr-2"></i>
						Quản lý quyền
					</a>
				</li>
				<li>
					<a th:href="@{/admin/page/category}">
						<i class="fa fa-book mr-2"></i>
						Quản lý thể loại
					</a>
				</li>
				<li>
					<a href="http://localhost:8080/admin/page/course">
						<i class="fa fa-cogs mr-2"></i>
						Quản lý khoá học
					</a>
				</li>
			</ul>
		</div>

		<div id="admin-wrapper">
			<!-- HEADER -->
			<nav class="navbar navbar-expand-sm navbar-light bg-light w-100">
				<div style="font-size: 22px;"><strong>ELEARNING APP</strong></div>
				<button class="navbar-toggler d-lg-none" type="button"
					data-toggle="collapse" data-target="#collapsibleNavId"
					aria-controls="collapsibleNavId" aria-expanded="false"
					aria-label="Toggle navigation"></button>
				<div class="collapse navbar-collapse" id="collapsibleNavId">
					<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="#" id="dropdownId"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Cybersoft </a>
							<div class="dropdown-menu dropdown-menu-right"
								aria-labelledby="dropdownId">
								<a class="dropdown-item" href="http://localhost:8080/admin/page/profile">Thông tin cá nhân</a> <a
									class="dropdown-item" onclick="logout()">Thoát</a>
							</div></li>
					</ul>
				</div>
			</nav>

			<!-- CONTENT -->
			<section id="admin-content" class="p-3">
				<h3 class="mb-3">Danh sách thể loại</h3>
				<div class="row">
					<div class="col-md-8">
						<button class="btn btn-outline-secondary"
							onclick="addTogleModal()">Thêm mới</button>
					</div>
					<div class="col-md-4">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Tìm kiếm..." id="search">
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2"> <i
									class="fa fa-search"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<table class="table table-bordered table-hover mt-3" id="cate-table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Icon</th>
							<th>Tên</th>
							<th>#</th>
						</tr>
					</thead>
					<!--  <tbody>
                        <tr>
                            <td>1</td>
                            <td>ROLE_ADMIN</td>
                            <td>Quản trị hệ thống</td>
                            <td>
                                <button class="btn btn-sm btn-info" data-toggle="modal" data-target="#editModal"><i class="fa fa-pencil-square-o"></i></button>
                                <a href="#" class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash-o"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody> -->
				</table>
			</section>
		</div>
	</div>

	<!-- NEW MODAL -->
	<div class="modal" id="cateModal">
		<div class="modal-dialog">
			<div class="modal-content">

				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Thêm mới loại</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<!-- Modal body -->
				<div class="modal-body">
					<form id="cate-form">
						<div class="form-group">
							<label for="catename">Icon</label> <input name='icon'
								type="cateicon" class="form-control" id="cate-icon">
						</div>
						<div class="form-group">
							<label for="cateicon">Tên loại</label> <input name='name'
								type="catename" class="form-control" id="cate-name">
						</div>
					</form>
				</div>

				<!-- Modal footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal"
						id="save-btn">Save</button>
				</div>

			</div>
		</div>
	</div>

	<!-- END NEW MODAL -->

	<script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
	<script th:src="@{/lib/popper.js/popper.min.js}"></script>
	<script th:src="@{/lib/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{/js/admin/category.js}"></script>
	<script th:src="@{/lib/toastr/toastr.min.js}"></script>
	<script th:src="@{/js/custom.js}"></script>
</body>

</html>