<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" th:href="@{/lib/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/lib/font-awesome/css/font-awesome.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/lib/modal-video/css/modal-video.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/course.css}">
</head>

<body>
    <header class="border-bottom">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="index.html">Elearning</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
                data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation"></button>
            <div class="collapse navbar-collapse row" id="collapsibleNavId">
                <div class="col-md-6">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex align-items-center justify-content-between">
                        <li class="nav-item mr-3">
                            <div class="dropdown">
                                <a class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-th"></i>
                                    <span class="ml-2">Categories</span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-laptop mr-1"></i>
                                        <span>Development</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-camera-retro mr-1"></i>
                                        <span>Photography</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-bar-chart mr-1"></i>
                                        <span>Business</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-desktop mr-1"></i>
                                        <span>IT & Software</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-handshake-o mr-1"></i>
                                        <span>Marketing</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-music mr-1"></i>
                                        <span>Music</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-pencil-square-o mr-1"></i>
                                        <span>Design</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa fa-cutlery mr-1"></i>
                                        <span>Cooking</span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item w-100">
                            <form class="input-group nav-search">
                                <input type="text" class="form-control" placeholder="Search courses">
                                <div class="input-group-append">
                                    <button class="btn bg-white text-danger"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="col-md-1 nav-cart">
                    <i class="fa fa-shopping-basket"></i>
                </div>
                <div class="col-md-5 text-right">
                    <button class="btn btn-outline-secondary" data-toggle="modal"
                        data-target="#loginModal">Login</button>
                    <button class="btn btn-danger ml-2" data-toggle="modal" data-target="#signUpModal">Sign up</button>
                </div>
            </div>
        </nav>
    </header>
    <nav aria-label="breadcrumb">
        <div class="container-fluid">
            <ol class="breadcrumb bg-white mb-0 py-2">
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home mr-1"></i> Development</a></li>
                <li class="breadcrumb-item"><a href="#">Programming Languages</a></li>
                <li class="breadcrumb-item active" aria-current="page">Python</li>
            </ol>
        </div>
    </nav>
    <section class="course-banner">
        <div class="container">
            <div class="banner-content">
               
            </div>
        </div>
    </section>

    <section class="course-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <!-- BEGIN DESC -->
                    <div class="course-desc">
                        <h4 class="course-desc-title">What you'll learn <button class="btn btn-outline-secondary" id="btnOpenAddTargetModal">Add</button></h4>
                        <div class="row">
                            <div class="col-md-6">
                                <ul id="left-course-desc-items" class="course-desc-items">
                                    <!-- <li>
                                        <i class="fa fa-check"></i>
                                        <span>Learn to use Python professionally, learning both Python 2 and Python
                                            3!</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <span>Create games with Python, like Tic Tac Toe and Blackjack!</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <span>Learn to use Python professionally, learning both Python 2 and Python
                                            3!</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <span>Create games with Python, like Tic Tac Toe and Blackjack!</span>
                                    </li> -->
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="course-desc-items">
                                    <!-- <li>
                                        <i class="fa fa-check"></i>
                                        <span>Learn to use Python professionally, learning both Python 2 and Python
                                            3!</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <span>Create games with Python, like Tic Tac Toe and Blackjack!</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <span>Learn to use Python professionally, learning both Python 2 and Python
                                            3!</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-check"></i>
                                        <span>Create games with Python, like Tic Tac Toe and Blackjack!</span>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END DESC -->
                    <!-- BEGIN LIST -->
                    <div class="course-list">
                        <div class="list-header d-flex align-items-center justify-content-between">
                            <h4 class="font-weight-bold">Course content</h4>
                            <div>
                                <span class="mr-3"></span>
                            </div>
                            <div>
                                <span><button class="btn btn-outline-secondary" id="openAddVideoModal">Add video</button></span>
                            </div>
                        </div>
                        <div class="mt-2">
                            <a href="#list-content" class="list-content-first" data-toggle="collapse">
                                <span><i class="fa fa-minus mr-1"></i> Course list</span>
                                <span>40:28:55</span>
                            </a>
                            <ul id="list-content" class="collapse show">
                                <!-- <li>
                                    <a href="#" class="btn-video" data-video-id="6xB-uXqbOqo">
                                        <span> <i class="fa fa-play-circle mr-1"></i>
                                            Course Introduction
                                        </span>
                                        <span>5:32</span>
                                    </a>
                                </li> -->
                                
                            </ul>
                        </div>
                    </div>
                    <!-- END LIST -->
                    <!-- BEGIN INFO -->
                    <div class="course-info mt-4">
                        <h4 class="font-weight-bold">Description</h4>
                        <div class="">
                            <p id="txtDesc"></p>
                            <ul>
                                <li>Command Line Basics</li>
                                <li>Installing Python</li>
                                <li>Running Python Code</li>
                                <li>Strings</li>
                                <li>Lists&nbsp;</li>
                                <li>Dictionaries</li>
                                <li>Tuples</li>
                                <li>Sets</li>
                                <li>Number Data Types</li>
                                <li>Print Formatting</li>
                                <li>Functions</li>
                                <li>Scope</li>
                                <li>args/kwargs</li>
                                <li>Built-in Functions</li>
                                <li>Debugging and Error Handling</li>
                                <li>Modules</li>
                                <li>External Modules</li>
                                <li>Object Oriented Programming</li>
                                <li>Inheritance</li>
                                <li>Polymorphism</li>
                                <li>File I/O</li>
                                <li>Advanced Methods</li>
                                <li>Unit Tests</li>
                                <li>and much more!</li>
                            </ul>
                            <p><strong>You will get lifetime access to over 100 lectures plus corresponding Notebooks
                                    for the lectures! </strong><br></p>
                            <p>This course comes with a <strong>30 day money back guarantee!</strong> If you are not
                                satisfied in any way, you'll get your money back. Plus you will keep access to the
                                Notebooks as a thank you for trying out the course!</p>
                            <p><strong>So what are you waiting for? Learn Python in a way that will advance your career
                                    and increase your knowledge, all in a fun and practical way!</strong></p>
                            <div class="audience" data-purpose="course-audience">
                                <div class="audience__title">
                                    Who this course is for:
                                </div>
                                <ul class="audience__list">
                                    <li>Beginners who have never programmed before.</li>
                                    <li>Programmers switching languages to Python.</li>
                                    <li>Intermediate Python programmers who want to level up their skills!</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- END INFO -->
                </div>
                <div class="col-md-4">
                    <div class="course-buy">
                        <h2 class="mb-4 font-weight-bold">  
                        </h2>
                        <button class="btn btn-danger w-100">Add to cart</button>
                        <button class="btn btn-outline-secondary w-100">Buy now</button>
                        <div class="course-buy-info mt-2">
                            <span>This course includes</span>
                            
                        </div>
                        <a class="course-buy-share border-top" href="#">
                            <i class="fa fa-share"></i> Share
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- SIGN IN MODAL -->
    <div class="modal" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Đăng nhập</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="emailgEmaill">Email</label>
                            <input type="email" class="form-control" id="lgEmail">
                        </div>
                        <div class="form-group">
                            <label for="lgPassword">Password</label>
                            <input type="password" class="form-control" id="lgPassword">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đăng nhập</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                </div>

            </div>
        </div>
    </div>

    <!-- SIGN UP MODAL -->
    <div class="modal" id="signUpModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Đăng ký</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="rgName">Name</label>
                            <input type="text" class="form-control" id="rgName">
                        </div>
                        <div class="form-group">
                            <label for="rgEmail">Email</label>
                            <input type="email" class="form-control" id="rgEmail">
                        </div>
                        <div class="form-group">
                            <label for="rgPassword">Password</label>
                            <input type="password" class="form-control" id="rgPassword">
                        </div>
                        <div class="form-group">
                            <label for="rgConfirm">Confirm</label>
                            <input type="password" class="form-control" id="rgConfirm">
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Đăng ký</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Thoát</button>
                </div>

            </div>
        </div>
    </div>

    <div class="modal" id="addTargetModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 id="target-modal-title" class="modal-title">Create target</h4>
                </div>
                <div class="modal-body">
                    <form id="formAddTarget">
                        <div class="form-group">
                            <input name="id" class="form-control" id="target-id" hidden>
                        </div>
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input name="title" class="form-control" id="target-title">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btnAddTarget" type="button" class="btn btn-outline-secondary" data-dismiss="modal">SAVE</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="addVideoModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Video</h4>
                </div>
                <div class="modal-body">
                    <form id="add-video-form">
                        <div class="form-group">
                            <label for="title">Title</label>
                            <input type="text" name="title" class="form-control" id="video-title">
                        </div>
                        <div class="form-group">
                            <label for="file">File</label>
                            <input type="file" name="file" class="form-control" id="video-file">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="btn-save-video" type="button" class="btn btn-outline-secondary" data-dismiss="modal">Save</button>
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="videoModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <!-- <video style="height: fit-content; width: fit-content;" id="watch-video-modal" src="http://localhost:8080/videos/64video.mp4" controls></video> -->
                    <iframe id="video-iframe" style="height: 300px; width: 100%;" class="embed-responsive-item" ></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Back</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="py-4 mt-4 text-center border-top">
        <span>Copyright © 2019 Cybersoft, Inc.</span>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script th:src="@{/lib/jquery/jquery.slim.min.js}"></script>
    <script th:src="@{/lib/popper.js/popper.min.js}"></script>
    <script th:src="@{/lib/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/lib/modal-video/js/jquery-modal-video.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/js/teacher/detail.js}"></script>
    
    <!-- <script>
        $(".btn-video").modalVideo({ channel: 'youtube' });
    </script> -->
</body>

</html>