<section class="course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <!-- BEGIN DESC -->
                <div class="course-desc">
                    <h4 class="course-desc-title">What you'll learn</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul id="left-course-desc-items" class="course-desc-items">
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span>Learn to use Python professionally, learning both Python 2 and Python
                                        3!</span>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span>Create games with Python, like Tic Tac Toe and Blackjack!</span>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span>Learn to use Python professionally, learning both Python 2 and Python
                                        3!</span>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span>Create games with Python, like Tic Tac Toe and Blackjack!</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="course-desc-items">
                                <!-- <li>
                                    <i class="fa fa-check"></i>
                                    <span>Learn to use Python professionally, learning both Python 2 and Python
                                        3!</span>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span>Create games with Python, like Tic Tac Toe and Blackjack!</span>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span>Learn to use Python professionally, learning both Python 2 and Python
                                        3!</span>
                                </li>
                                <li>
                                    <i class="fa fa-check"></i>
                                    <span>Create games with Python, like Tic Tac Toe and Blackjack!</span>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END DESC -->
                <!-- BEGIN LIST -->
                <div class="course-list">
                    <div class="list-header d-flex align-items-center justify-content-between">
                        <h4 class="font-weight-bold">Course content</h4>
                        <div>
                            <span class="mr-3">180 lectures</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <a href="#list-content" class="list-content-first" data-toggle="collapse">
                            <span><i class="fa fa-minus mr-1"></i> Course list</span>
                            <span>40:28:55</span>
                        </a>
                        <ul id="list-content" class="collapse show">
                            <li>
                                <a href="#" class="btn-video" data-video-id="6xB-uXqbOqo">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Course Introduction
                                    </span>
                                    <span>5:32</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Getting the Notebooks and the Course Material
                                    </span>
                                    <span>15:30</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Git and Github Overview (Optional)
                                    </span>
                                    <span>12:05</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Introduction to Python Data Types
                                    </span>
                                    <span>10:35</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Course Introduction
                                    </span>
                                    <span>5:32</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Getting the Notebooks and the Course Material
                                    </span>
                                    <span>15:30</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Git and Github Overview (Optional)
                                    </span>
                                    <span>12:05</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Introduction to Python Data Types
                                    </span>
                                    <span>10:35</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Course Introduction
                                    </span>
                                    <span>5:32</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Getting the Notebooks and the Course Material
                                    </span>
                                    <span>15:30</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Git and Github Overview (Optional)
                                    </span>
                                    <span>12:05</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span> <i class="fa fa-play-circle mr-1"></i>
                                        Introduction to Python Data Types
                                    </span>
                                    <span>10:35</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- END LIST -->
                <!-- BEGIN INFO -->
                <div class="course-info mt-4">
                    <h4 class="font-weight-bold">Description</h4>
                    <div class="">
                        <p><strong>Become a Python Programmer and learn one of employer's most requested skills of
                                2018!</strong><br></p>
                        <p>This is the <strong>most comprehensive, yet straight-forward, course for the Python
                                programming language on Udemy!</strong> Whether you have never programmed before,
                            already know basic syntax, or want to learn about the advanced features of Python, this
                            course is for you! In this course we will&nbsp;<strong>teach you Python 3.
                            </strong>(Note, we also provide older&nbsp;Python 2 notes in case you need them)</p>
                        <p>With <strong>over 100 lectures</strong> and more than 20 hours of video this
                            comprehensive course leaves no stone unturned! This course includes quizzes, tests, and
                            homework assignments as well as 3 major projects to create a Python project portfolio!
                        </p>
                        <p>This course will teach you Python in a practical manner, with every lecture comes a full
                            coding screencast and a corresponding code notebook! Learn in whatever manner is best
                            for you!</p>
                        <p>We will start by helping you get Python installed on your computer, regardless of your
                            operating system, whether its Linux, MacOS, or Windows, we've got you covered!</p>
                        <p>We cover a wide variety of topics, including:</p>
                        <ul>
                            <li>Command Line Basics</li>
                            <li>Installing Python</li>
                            <li>Running Python Code</li>
                            <li>Strings</li>
                            <li>Lists&nbsp;</li>
                            <li>Dictionaries</li>
                            <li>Tuples</li>
                            <li>Sets</li>
                            <li>Number Data Types</li>
                            <li>Print Formatting</li>
                            <li>Functions</li>
                            <li>Scope</li>
                            <li>args/kwargs</li>
                            <li>Built-in Functions</li>
                            <li>Debugging and Error Handling</li>
                            <li>Modules</li>
                            <li>External Modules</li>
                            <li>Object Oriented Programming</li>
                            <li>Inheritance</li>
                            <li>Polymorphism</li>
                            <li>File I/O</li>
                            <li>Advanced Methods</li>
                            <li>Unit Tests</li>
                            <li>and much more!</li>
                        </ul>
                        <p><strong>You will get lifetime access to over 100 lectures plus corresponding Notebooks
                                for the lectures! </strong><br></p>
                        <p>This course comes with a <strong>30 day money back guarantee!</strong> If you are not
                            satisfied in any way, you'll get your money back. Plus you will keep access to the
                            Notebooks as a thank you for trying out the course!</p>
                        <p><strong>So what are you waiting for? Learn Python in a way that will advance your career
                                and increase your knowledge, all in a fun and practical way!</strong></p>
                        <div class="audience" data-purpose="course-audience">
                            <div class="audience__title">
                                Who this course is for:
                            </div>
                            <ul class="audience__list">
                                <li>Beginners who have never programmed before.</li>
                                <li>Programmers switching languages to Python.</li>
                                <li>Intermediate Python programmers who want to level up their skills!</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- END INFO -->
            </div>
            <div class="col-md-4">
                <div class="course-buy">
                    <h2 class="mb-4 font-weight-bold">
                        1.200.000 đ
                        <small>1.600.000 đ</small>
                    </h2>
                    <button class="btn btn-danger w-100">Add to cart</button>
                    <button class="btn btn-outline-secondary w-100">Buy now</button>
                    <div class="course-buy-info mt-2">
                        <span>This course includes</span>
                        <small><i class="fa fa-play-circle-o"></i> 24 hours on-demand video</small>
                        <small><i class="fa fa-file-o"></i> 19 articles</small>
                        <small><i class="fa fa-code"></i> 19 coding exercises</small>
                        <small><i class="fa fa-empire"></i> Full lifetime access</small>
                        <small><i class="fa fa-tablet"></i> Access on mobile and TV</small>
                        <small><i class="fa fa-recycle"></i> Certificate of Completion</small>
                    </div>
                    <a class="course-buy-share border-top" href="#">
                        <i class="fa fa-share"></i> Share
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>