<!doctype html>
<html
	lang="en"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Elearning | Free Online Courses, Learning Anything, On Your Schedule</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta
	name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link
	rel="stylesheet"
	th:href="@{/lib/bootstrap/bootstrap.min.css}">
<link
	rel="stylesheet"
	th:href="@{/lib/font-awesome/css/font-awesome.min.css}">
<link
	href="https://fonts.googleapis.com/css?family=Quicksand"
	rel="stylesheet">
<link
	rel="stylesheet"
	th:href="@{/css/style.css}">
<link
	rel="stylesheet"
	th:href="@{/css/home.css}">
</head>

<body>
	<header class="border-bottom">
		<nav class="navbar navbar-expand-sm navbar-light bg-light">
			<a
				class="navbar-brand"
				href="https://localhost8080">Elearning</a>
			<button
				class="navbar-toggler d-lg-none"
				type="button"
				data-toggle="collapse"
				data-target="#collapsibleNavId"
				aria-controls="collapsibleNavId"
				aria-expanded="false"
				aria-label="Toggle navigation"></button>
			<div
				class="collapse navbar-collapse row"
				id="collapsibleNavId">
				<div class="col-md-6">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex align-items-center justify-content-between">
						<li class="nav-item mr-3">
							<div class="dropdown">
								<a
									class="btn btn-outline-light dropdown-toggle"
									data-toggle="dropdown">
									<i class="fa fa-th"></i>
									<span class="ml-2">Categories</span>
								</a>
								<div
									class="dropdown-menu"
									id="list-category">
									<!--  <a class="dropdown-item" href="#">
                                        <i class="fa fa-laptop mr-1"></i>
                                        <span>Development</span>
                                    </a> -->
								</div>
							</div>
						</li>
						<li class="nav-item w-100">
							<div class="search-container nav-search input-group nav-search">
								<input
									onkeyup="search()"
									type="search"
									class="form-control"
									placeholder="Search by courses or teachers name"
									id="search-input">
								<div class="input-group-append">
									<button class="btn bg-white text-danger rounded" id="btn-search">
										<i class="fa fa-search"></i>
									</button>
								</div>
								<div id="search-result" class="dropdown-menu">
									
								</div>
							</div>
							
						</li>
					</ul>
				</div>
				<div class="col-md-1 nav-cart">
					<a href="http://localhost:8080/cart"><div><i class="fa fa-shopping-basket"></i></div></a>
				</div>
				<div
					class="col-md-5 d-flex justify-content-end"
					id="info"></div>
			</div>
		</nav>
	</header>
	<!-- BEGIN BANNER -->
	<section class="banner">
		<div class="carousel">
			<div class="carousel-caption">
				<div class="container-fluid">
					<h2 class="caption-title">Learn on your schedule</h2>
					<div class="caption-text">Study any topic, anytime. Choose from thousands of expert-led
						courses now.</div>
					<form class="input-group nav-search caption-search">
						<input type="text" class="form-control" placeholder="What do you want to learn?">
						<div class="input-group-append">
							<button class="btn bg-white text-danger">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="banner-bottom">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-4 d-flex align-items-center justify-content-center">
						<span>
							<i class="fa fa-cubes"></i>
						</span>
						<div class="banner-bottom-text">
							<b>100,000 online courses</b>
							<div class="sub-title">Explore a variety of fresh topics</div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-items-center justify-content-center">
						<span>
							<i class="fa fa-joomla"></i>
						</span>
						<div class="banner-bottom-text">
							<b>Expert instruction</b>
							<div class="sub-title">Find the right instructor for you</div>
						</div>
					</div>
					<div class="col-md-4 d-flex align-items-center justify-content-center">
						<span>
							<i class="fa fa-gg"></i>
						</span>
						<div class="banner-bottom-text">
							<b>Lifetime access</b>
							<div class="sub-title">Learn on your schedule</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- END BANNER -->
	<!-- BENGIN SELLER -->
	<section class="best-seller">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 pb-4 pt-5">
					<div class="h-100 best-seller-sologan">
						<div class="px-5">
							<h5 class="font-weight-bold">The world’s largest selection of courses</h5>
							<p>Choose from over 100,000 online video courses with new additions published every
								month.</p>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<h3 class="title">
						<a href="#">Sale off</a>
					</h3>
					<div
						class="row"
						id="sale-off"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- END SELLER -->
	<!-- BEGIN POPULAR -->
	<section class="popular">
		<div
			class="container-fluid"
			id="popular">
			<h3 class="title mt-0">Popular course</h3>
		</div>
	</section>
	<section class="feedback">
		<div class="container-fluid">
			<h3 class="title mt-3">What our students have to say</h3>
			<div class="row">
				<div class="col-md-4">
					<div class="feedback-item">
						<div class="feedback-info">
							<div class="feedback-img">
								<img
									src="./img/user1.jpg"
									alt="user1">
							</div>
							<b>Borivoje</b>
						</div>
						<div class="feedback-content">Elearning is a life saver. I don't have the time or money
							for a college education. My goal is to become a freelance web developer, and thanks to Udemy,
							I'm really close.</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feedback-item">
						<div class="feedback-info">
							<div class="feedback-img">
								<img
									src="./img/user2.jpg"
									alt="user1">
							</div>
							<b>Borivoje</b>
						</div>
						<div class="feedback-content">Elearning is a life saver. I don't have the time or money
							for a college education. My goal is to become a freelance web developer, and thanks to Udemy,
							I'm really close.</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="feedback-item">
						<div class="feedback-info">
							<div class="feedback-img">
								<img
									src="./img/user3.jpg"
									alt="user1">
							</div>
							<b>Borivoje</b>
						</div>
						<div class="feedback-content">Elearning is a life saver. I don't have the time or money
							for a college education. My goal is to become a freelance web developer, and thanks to Udemy,
							I'm really close.</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- SIGN IN MODAL -->
	<div
		class="modal"
		id="loginModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Đăng nhập</h4>
					<button
						type="button"
						class="close"
						data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
					<p
						class="text-center text-danger"
						id="message"></p>
					<form>
						<div class="form-group">
							<label for="emailgEmaill">Email</label>
							<input
								type="email"
								class="form-control"
								id="lgEmail">
						</div>
						<div class="form-group">
							<label for="lgPassword">Password</label>
							<input
								type="password"
								class="form-control"
								id="lgPassword">
						</div>
					</form>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button
						type="button"
						id="btn-login"
						class="btn btn-primary"
						onclick="login()">Đăng nhập</button>
					<button
						type="button"
						class="btn btn-danger"
						data-dismiss="modal">Thoát</button>
				</div>
			</div>
		</div>
	</div>
	<!-- SIGN UP MODAL -->
	<div
		class="modal"
		id="signUpModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Đăng ký</h4>
					<button
						type="button"
						class="close"
						data-dismiss="modal">&times;</button>
				</div>
				<!-- Modal body -->
				<div class="modal-body">
					<p
						class="text-center text-danger"
						id="rg-message"></p>
					<form>
						<div class="form-group">
							<label for="rgName">Name</label>
							<input
								type="text"
								class="form-control"
								id="rg-fullname">
						</div>
						<div class="form-group">
							<label for="rgEmail">Email</label>
							<input
								type="email"
								class="form-control"
								id="rg-email">
						</div>
						<div class="form-group">
							<label for="rgPassword">Password</label>
							<input
								type="password"
								class="form-control"
								id="rg-password">
						</div>
						<div class="form-group">
							<label for="rgConfirm">Confirm</label>
							<input
								type="password"
								class="form-control"
								id="rg-confirm">
						</div>
					</form>
				</div>
				<!-- Modal footer -->
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-primary"
						onclick="register()">Đăng ký</button>
					<button
						type="button"
						class="btn btn-danger"
						data-dismiss="modal">Thoát</button>
				</div>
			</div>
		</div>
	</div>
	<footer class="py-4 mt-4 text-center border-top">
		<span>Copyright © 2019 Cybersoft, Inc.</span>
	</footer>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="./lib/jquery/jquery.slim.min.js"></script>
	<script src="./lib/popper.js/popper.min.js"></script>
	<script src="./lib/bootstrap/bootstrap.min.js"></script>
	<script src="./js/index.js"></script>
</body>

</html>